#!/usr/bin/env fish
source "{{ .chezmoi.sourceDir }}/.chezmoihelpers/status.fish"

# pyproject.toml hash: {{ include "pyproject.toml.tmpl" | sha256sum }}

function sync_python_environment
    uv venv --clear
    source .venv/bin/activate.fish
    uv sync
end

stage "Python environment" SYNC "Python environment" sync_python_environment
