#!/usr/bin/env fish
#
# This script is run by chezmoi on `chezmoi apply`.
# It ensures that systemd user services and timers are reloaded and enabled.

echo "Running systemd unit configuration..."
systemctl --user daemon-reload

# Enable and start the backup timer.
# --now ensures it starts immediately if not already active.
systemctl --user enable --now backup-packages.timer
echo "- backup-packages.timer enabled and started."

{{ if .isClient -}}

set client_services "hyprpolkitagent.service" "hypridle.service" "hyprsunset.service" "hyprpaper.service" "hyprfloat.service" "hyprvoice.service"

for service in $client_services
    systemctl --user enable --now $service
    echo "- $service enabled and started."
end

{{- end }}
