#!/usr/bin/env fish
#
# This script is run by chezmoi on `chezmoi apply`.
# It ensures that systemd user services and timers are reloaded and enabled.
source "{{ .chezmoi.sourceDir }}/.chezmoihelpers/status.fish"

echo

function configure_common_user_units
    systemctl --user daemon-reload
    systemctl --user enable --now backup-packages.timer
end

stage "Systemd User Units [Common]" CONFIG "Systemd User Units [Common]" configure_common_user_units

{{ if .isClient -}}

set client_services "hyprpolkitagent.service" "hypridle.service" "hyprlock-login.service" "hyprsunset.service" "hyprpaper.service" "hyprvoice.service"

function configure_client_user_units
    for service in $argv
        systemctl --user enable --now $service
    end
end

stage "Systemd User Units [Clients]" CONFIG "Systemd User Units [Clients]" configure_client_user_units $client_services

{{- end }}
