#!/usr/bin/env fish
source "{{ .chezmoi.sourceDir }}/.chezmoihelpers/status.fish"

# This script is based on the Gist by @jessfraz:
# https://gist.github.com/jessfraz/5232705

if not command -v -q sudo
    __stage_result CONFIG "Passwordless sudo"
    exit 0
end

set -l sudoers_dir /etc/sudoers.d
set -l username {{ .chezmoi.username }}
set -l sudoers_file "$sudoers_dir/wheel-nopasswd-{{ .chezmoi.username }}"

if test ! -d "$sudoers_dir"
    __stage_result CONFIG "Passwordless sudo"
    exit 0
end

sudo -v

function configure_passwordless_sudo --argument-names username sudoers_file
    if not groups $username | grep -q '\bwheel\b'
        sudo usermod -aG wheel $username
    end

    if not test -e "$sudoers_file"
        set -l tmp_file (mktemp)
        echo '%wheel ALL=(ALL) NOPASSWD: ALL' >"$tmp_file"
        sudo chown root:root "$tmp_file"
        sudo chmod 0440 "$tmp_file"
        sudo mv "$tmp_file" "$sudoers_file"
    end
end

stage "passwordless sudo" CONFIG "Passwordless sudo" configure_passwordless_sudo "$username" "$sudoers_file"
