{
  "version": 3,
  "workspaces": [
    {
      "id": "wB",
      "custom_name": null,
      "identity_cwd": "{{ .chezmoi.homeDir }}",
      "public_pane_numbers": {
        "45": 1
      },
      "next_public_pane_number": 2,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": null,
          "layout": {
            "Pane": 45
          },
          "panes": {
            "45": {
              "cwd": "{{ .chezmoi.homeDir }}"
            }
          },
          "zoomed": false,
          "focused": 45,
          "root_pane": 45
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wC",
      "custom_name": "home",
      "identity_cwd": "{{ .chezmoi.homeDir }}",
      "public_pane_numbers": {
        "46": 1
      },
      "next_public_pane_number": 2,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": "~",
          "layout": {
            "Pane": 46
          },
          "panes": {
            "46": {
              "cwd": "{{ .chezmoi.homeDir }}"
            }
          },
          "zoomed": false,
          "focused": 46,
          "root_pane": 46
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wD",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "49": 3,
        "50": 4,
        "51": 5,
        "48": 2,
        "47": 1
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "hype",
          "layout": {
            "Pane": 47
          },
          "panes": {
            "47": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 47,
          "root_pane": 47
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 48
          },
          "panes": {
            "48": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 48,
          "root_pane": 48
        },
        {
          "custom_name": "asset",
          "layout": {
            "Pane": 49
          },
          "panes": {
            "49": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 49,
          "root_pane": 49
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 50
          },
          "panes": {
            "50": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 50,
          "root_pane": 50
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 51
          },
          "panes": {
            "51": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 51,
          "root_pane": 51
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wE",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "55": 4,
        "56": 5,
        "58": 7,
        "59": 8,
        "60": 9,
        "57": 6,
        "54": 3,
        "53": 2,
        "52": 1
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 52
          },
          "panes": {
            "52": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 52,
          "root_pane": 52
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 53
          },
          "panes": {
            "53": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 53,
          "root_pane": 53
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 54
          },
          "panes": {
            "54": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 54,
          "root_pane": 54
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 55
          },
          "panes": {
            "55": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 55,
          "root_pane": 55
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 56
          },
          "panes": {
            "56": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 56,
          "root_pane": 56
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 57
          },
          "panes": {
            "57": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 57,
          "root_pane": 57
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 58
          },
          "panes": {
            "58": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 58,
          "root_pane": 58
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 59
          },
          "panes": {
            "59": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 59,
          "root_pane": 59
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 60
          },
          "panes": {
            "60": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 60,
          "root_pane": 60
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wF",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "62": 2,
        "61": 1
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 61
          },
          "panes": {
            "61": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 61,
          "root_pane": 61
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 62
          },
          "panes": {
            "62": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 62,
          "root_pane": 62
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wG",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "64": 2,
        "66": 4,
        "63": 1,
        "65": 3
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 63
          },
          "panes": {
            "63": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 63,
          "root_pane": 63
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 64
          },
          "panes": {
            "64": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 64,
          "root_pane": 64
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 65
          },
          "panes": {
            "65": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 65,
          "root_pane": 65
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 66
          },
          "panes": {
            "66": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 66,
          "root_pane": 66
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wJ",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "72": 5,
        "71": 4
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 71
          },
          "panes": {
            "71": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 71,
          "root_pane": 71
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 72
          },
          "panes": {
            "72": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 72,
          "root_pane": 72
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wK",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "76": 4,
        "75": 3,
        "74": 2,
        "79": 7,
        "78": 6,
        "73": 1,
        "77": 5,
        "80": 8,
        "81": 9
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 73
          },
          "panes": {
            "73": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 73,
          "root_pane": 73
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 74
          },
          "panes": {
            "74": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 74,
          "root_pane": 74
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 75
          },
          "panes": {
            "75": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 75,
          "root_pane": 75
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 76
          },
          "panes": {
            "76": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 76,
          "root_pane": 76
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 77
          },
          "panes": {
            "77": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 77,
          "root_pane": 77
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 78
          },
          "panes": {
            "78": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 78,
          "root_pane": 78
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 79
          },
          "panes": {
            "79": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 79,
          "root_pane": 79
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 80
          },
          "panes": {
            "80": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 80,
          "root_pane": 80
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 81
          },
          "panes": {
            "81": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 81,
          "root_pane": 81
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wM",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "82": 1,
        "83": 2
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 82
          },
          "panes": {
            "82": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 82,
          "root_pane": 82
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 83
          },
          "panes": {
            "83": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 83,
          "root_pane": 83
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wN",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "86": 3,
        "84": 1,
        "87": 4,
        "85": 2
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 84
          },
          "panes": {
            "84": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 84,
          "root_pane": 84
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 85
          },
          "panes": {
            "85": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 85,
          "root_pane": 85
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 86
          },
          "panes": {
            "86": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 86,
          "root_pane": 86
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 87
          },
          "panes": {
            "87": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 87,
          "root_pane": 87
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wP",
      "custom_name": "home",
      "identity_cwd": "{{ .chezmoi.homeDir }}",
      "public_pane_numbers": {
        "88": 1
      },
      "next_public_pane_number": 2,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": "~",
          "layout": {
            "Pane": 88
          },
          "panes": {
            "88": {
              "cwd": "{{ .chezmoi.homeDir }}"
            }
          },
          "zoomed": false,
          "focused": 88,
          "root_pane": 88
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wQ",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "91": 3,
        "90": 2,
        "93": 5,
        "89": 1,
        "92": 4
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "hype",
          "layout": {
            "Pane": 89
          },
          "panes": {
            "89": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 89,
          "root_pane": 89
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 90
          },
          "panes": {
            "90": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 90,
          "root_pane": 90
        },
        {
          "custom_name": "asset",
          "layout": {
            "Pane": 91
          },
          "panes": {
            "91": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 91,
          "root_pane": 91
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 92
          },
          "panes": {
            "92": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 92,
          "root_pane": 92
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 93
          },
          "panes": {
            "93": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 93,
          "root_pane": 93
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wR",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "94": 1,
        "98": 5,
        "100": 7,
        "101": 8,
        "102": 9,
        "95": 2,
        "97": 4,
        "99": 6,
        "96": 3
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 94
          },
          "panes": {
            "94": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 94,
          "root_pane": 94
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 95
          },
          "panes": {
            "95": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 95,
          "root_pane": 95
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 96
          },
          "panes": {
            "96": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 96,
          "root_pane": 96
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 97
          },
          "panes": {
            "97": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 97,
          "root_pane": 97
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 98
          },
          "panes": {
            "98": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 98,
          "root_pane": 98
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 99
          },
          "panes": {
            "99": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 99,
          "root_pane": 99
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 100
          },
          "panes": {
            "100": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 100,
          "root_pane": 100
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 101
          },
          "panes": {
            "101": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 101,
          "root_pane": 101
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 102
          },
          "panes": {
            "102": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 102,
          "root_pane": 102
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wS",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "103": 1,
        "104": 2
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 103
          },
          "panes": {
            "103": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 103,
          "root_pane": 103
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 104
          },
          "panes": {
            "104": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 104,
          "root_pane": 104
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wT",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "108": 4,
        "107": 3,
        "105": 1,
        "106": 2
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 105
          },
          "panes": {
            "105": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 105,
          "root_pane": 105
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 106
          },
          "panes": {
            "106": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 106,
          "root_pane": 106
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 107
          },
          "panes": {
            "107": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 107,
          "root_pane": 107
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 108
          },
          "panes": {
            "108": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 108,
          "root_pane": 108
        }
      ],
      "active_tab": 0
    }
  ],
  "active": 10,
  "selected": 10,
  "sidebar_width": 22,
  "sidebar_section_split": 0.8974359,
  "collapsed_space_keys": []
}