{
  "version": 3,
  "workspaces": [
    {
      "id": "wB",
      "custom_name": null,
      "identity_cwd": "{{ .chezmoi.homeDir }}",
      "public_pane_numbers": {
        "1": 1
      },
      "next_public_pane_number": 2,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": null,
          "layout": {
            "Pane": 1
          },
          "panes": {
            "1": {
              "cwd": "{{ .chezmoi.homeDir }}"
            }
          },
          "zoomed": false,
          "focused": 1,
          "root_pane": 1
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wC",
      "custom_name": "home",
      "identity_cwd": "{{ .chezmoi.homeDir }}",
      "public_pane_numbers": {
        "2": 1
      },
      "next_public_pane_number": 2,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": "~",
          "layout": {
            "Pane": 2
          },
          "panes": {
            "2": {
              "cwd": "{{ .chezmoi.homeDir }}"
            }
          },
          "zoomed": false,
          "focused": 2,
          "root_pane": 2
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wD",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "7": 5,
        "5": 3,
        "4": 2,
        "6": 4,
        "3": 1
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "hype",
          "layout": {
            "Pane": 3
          },
          "panes": {
            "3": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 3,
          "root_pane": 3
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 4
          },
          "panes": {
            "4": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 4,
          "root_pane": 4
        },
        {
          "custom_name": "asset",
          "layout": {
            "Pane": 5
          },
          "panes": {
            "5": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 5,
          "root_pane": 5
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 6
          },
          "panes": {
            "6": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 6,
          "root_pane": 6
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 7
          },
          "panes": {
            "7": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 7,
          "root_pane": 7
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wE",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "11": 4,
        "9": 2,
        "12": 5,
        "16": 9,
        "10": 3,
        "8": 1,
        "14": 7,
        "13": 6,
        "15": 8
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 8
          },
          "panes": {
            "8": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 8,
          "root_pane": 8
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 9
          },
          "panes": {
            "9": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 9,
          "root_pane": 9
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 10
          },
          "panes": {
            "10": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 10,
          "root_pane": 10
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 11
          },
          "panes": {
            "11": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 11,
          "root_pane": 11
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 12
          },
          "panes": {
            "12": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 12,
          "root_pane": 12
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 13
          },
          "panes": {
            "13": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 13,
          "root_pane": 13
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 14
          },
          "panes": {
            "14": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 14,
          "root_pane": 14
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 15
          },
          "panes": {
            "15": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 15,
          "root_pane": 15
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 16
          },
          "panes": {
            "16": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 16,
          "root_pane": 16
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wF",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "18": 2,
        "17": 1
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 17
          },
          "panes": {
            "17": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 17,
          "root_pane": 17
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 18
          },
          "panes": {
            "18": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 18,
          "root_pane": 18
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wG",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "19": 1,
        "21": 3,
        "20": 2,
        "22": 4
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 19
          },
          "panes": {
            "19": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 19,
          "root_pane": 19
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 20
          },
          "panes": {
            "20": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 20,
          "root_pane": 20
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 21
          },
          "panes": {
            "21": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 21,
          "root_pane": 21
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 22
          },
          "panes": {
            "22": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 22,
          "root_pane": 22
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wJ",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "24": 5,
        "23": 4
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 23
          },
          "panes": {
            "23": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 23,
          "root_pane": 23
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 24
          },
          "panes": {
            "24": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 24,
          "root_pane": 24
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wK",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "29": 5,
        "25": 1,
        "27": 3,
        "26": 2,
        "30": 6,
        "33": 9,
        "31": 7,
        "28": 4,
        "32": 8
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 25
          },
          "panes": {
            "25": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 25,
          "root_pane": 25
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 26
          },
          "panes": {
            "26": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 26,
          "root_pane": 26
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 27
          },
          "panes": {
            "27": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 27,
          "root_pane": 27
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 28
          },
          "panes": {
            "28": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 28,
          "root_pane": 28
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 29
          },
          "panes": {
            "29": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 29,
          "root_pane": 29
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 30
          },
          "panes": {
            "30": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 30,
          "root_pane": 30
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 31
          },
          "panes": {
            "31": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 31,
          "root_pane": 31
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 32
          },
          "panes": {
            "32": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 32,
          "root_pane": 32
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 33
          },
          "panes": {
            "33": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 33,
          "root_pane": 33
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wM",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "34": 1,
        "35": 2
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 34
          },
          "panes": {
            "34": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 34,
          "root_pane": 34
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 35
          },
          "panes": {
            "35": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 35,
          "root_pane": 35
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wN",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "39": 4,
        "36": 1,
        "38": 3,
        "37": 2
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 36
          },
          "panes": {
            "36": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 36,
          "root_pane": 36
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 37
          },
          "panes": {
            "37": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 37,
          "root_pane": 37
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 38
          },
          "panes": {
            "38": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 38,
          "root_pane": 38
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 39
          },
          "panes": {
            "39": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 39,
          "root_pane": 39
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wP",
      "custom_name": "home",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.config/herdr/plugins/github/herdr-file-viewer-c993314e2614",
      "public_pane_numbers": {
        "61": 2
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": "~",
          "layout": {
            "Pane": 61
          },
          "panes": {
            "61": {
              "cwd": "{{ .chezmoi.homeDir }}/.config/herdr/plugins/github/herdr-file-viewer-c993314e2614",
              "label": "Files",
              "launch_argv": [
                "./target/release/herdr-file-viewer"
              ]
            }
          },
          "zoomed": false,
          "focused": 61,
          "root_pane": 61
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wQ",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "41": 1,
        "43": 3,
        "45": 5,
        "44": 4,
        "42": 2
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "hype",
          "layout": {
            "Pane": 41
          },
          "panes": {
            "41": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 41,
          "root_pane": 41
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 42
          },
          "panes": {
            "42": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 42,
          "root_pane": 42
        },
        {
          "custom_name": "asset",
          "layout": {
            "Pane": 43
          },
          "panes": {
            "43": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 43,
          "root_pane": 43
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 44
          },
          "panes": {
            "44": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 44,
          "root_pane": 44
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 45
          },
          "panes": {
            "45": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 45,
          "root_pane": 45
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wR",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "53": 8,
        "49": 4,
        "46": 1,
        "50": 5,
        "54": 9,
        "52": 7,
        "48": 3,
        "51": 6,
        "47": 2
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 46
          },
          "panes": {
            "46": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 46,
          "root_pane": 46
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 47
          },
          "panes": {
            "47": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 47,
          "root_pane": 47
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 48
          },
          "panes": {
            "48": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 48,
          "root_pane": 48
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 49
          },
          "panes": {
            "49": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 49,
          "root_pane": 49
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 50
          },
          "panes": {
            "50": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 50,
          "root_pane": 50
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 51
          },
          "panes": {
            "51": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 51,
          "root_pane": 51
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 52
          },
          "panes": {
            "52": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 52,
          "root_pane": 52
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 53
          },
          "panes": {
            "53": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 53,
          "root_pane": 53
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 54
          },
          "panes": {
            "54": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 54,
          "root_pane": 54
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wS",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "55": 1,
        "56": 2
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 55
          },
          "panes": {
            "55": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 55,
          "root_pane": 55
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 56
          },
          "panes": {
            "56": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 56,
          "root_pane": 56
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wT",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "59": 3,
        "60": 4,
        "57": 1,
        "58": 2
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 57
          },
          "panes": {
            "57": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 57,
          "root_pane": 57
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 58
          },
          "panes": {
            "58": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 58,
          "root_pane": 58
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 59
          },
          "panes": {
            "59": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 59,
          "root_pane": 59
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 60
          },
          "panes": {
            "60": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 60,
          "root_pane": 60
        }
      ],
      "active_tab": 0
    }
  ],
  "active": 0,
  "selected": 0,
  "sidebar_width": 22,
  "sidebar_section_split": 0.8974359,
  "collapsed_space_keys": []
}