{
  "version": 3,
  "workspaces": [
    {
      "id": "wB",
      "custom_name": null,
      "identity_cwd": "{{ .chezmoi.homeDir }}",
      "public_pane_numbers": {
        "45": 1
      },
      "next_public_pane_number": 2,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": null,
          "layout": {
            "Pane": 45
          },
          "panes": {
            "45": {
              "cwd": "{{ .chezmoi.homeDir }}"
            }
          },
          "zoomed": false,
          "focused": 45,
          "root_pane": 45
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wC",
      "custom_name": "home",
      "identity_cwd": "{{ .chezmoi.homeDir }}",
      "public_pane_numbers": {
        "46": 1
      },
      "next_public_pane_number": 2,
      "public_tab_numbers": [
        1
      ],
      "next_public_tab_number": 2,
      "tabs": [
        {
          "custom_name": "~",
          "layout": {
            "Pane": 46
          },
          "panes": {
            "46": {
              "cwd": "{{ .chezmoi.homeDir }}"
            }
          },
          "zoomed": false,
          "focused": 46,
          "root_pane": 46
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wD",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "50": 4,
        "49": 3,
        "47": 1,
        "51": 5,
        "48": 2
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "hype",
          "layout": {
            "Pane": 47
          },
          "panes": {
            "47": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 47,
          "root_pane": 47
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 48
          },
          "panes": {
            "48": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 48,
          "root_pane": 48
        },
        {
          "custom_name": "asset",
          "layout": {
            "Pane": 49
          },
          "panes": {
            "49": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 49,
          "root_pane": 49
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 50
          },
          "panes": {
            "50": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 50,
          "root_pane": 50
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 51
          },
          "panes": {
            "51": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 51,
          "root_pane": 51
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wE",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "57": 6,
        "55": 4,
        "52": 1,
        "58": 7,
        "56": 5,
        "53": 2,
        "59": 8,
        "54": 3,
        "60": 9
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 52
          },
          "panes": {
            "52": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 52,
          "root_pane": 52
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 53
          },
          "panes": {
            "53": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 53,
          "root_pane": 53
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 54
          },
          "panes": {
            "54": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 54,
          "root_pane": 54
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 55
          },
          "panes": {
            "55": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 55,
          "root_pane": 55
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 56
          },
          "panes": {
            "56": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 56,
          "root_pane": 56
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 57
          },
          "panes": {
            "57": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 57,
          "root_pane": 57
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 58
          },
          "panes": {
            "58": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 58,
          "root_pane": 58
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 59
          },
          "panes": {
            "59": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 59,
          "root_pane": 59
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 60
          },
          "panes": {
            "60": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 60,
          "root_pane": 60
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wF",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "61": 1,
        "62": 2
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 61
          },
          "panes": {
            "61": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 61,
          "root_pane": 61
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 62
          },
          "panes": {
            "62": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 62,
          "root_pane": 62
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wG",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "66": 4,
        "65": 3,
        "64": 2,
        "63": 1
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 63
          },
          "panes": {
            "63": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 63,
          "root_pane": 63
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 64
          },
          "panes": {
            "64": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 64,
          "root_pane": 64
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 65
          },
          "panes": {
            "65": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 65,
          "root_pane": 65
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 66
          },
          "panes": {
            "66": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 66,
          "root_pane": 66
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wJ",
      "custom_name": "hype",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/hype",
      "public_pane_numbers": {
        "71": 4,
        "72": 5
      },
      "next_public_pane_number": 6,
      "public_tab_numbers": [
        4,
        5
      ],
      "next_public_tab_number": 6,
      "tabs": [
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 71
          },
          "panes": {
            "71": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 71,
          "root_pane": 71
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 72
          },
          "panes": {
            "72": {
              "cwd": "{{ .chezmoi.homeDir }}/code/hype"
            }
          },
          "zoomed": false,
          "focused": 72,
          "root_pane": 72
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wK",
      "custom_name": "saanseoi",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/saanseoi",
      "public_pane_numbers": {
        "80": 8,
        "79": 7,
        "73": 1,
        "76": 4,
        "75": 3,
        "81": 9,
        "78": 6,
        "77": 5,
        "74": 2
      },
      "next_public_pane_number": 10,
      "public_tab_numbers": [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
      ],
      "next_public_tab_number": 10,
      "tabs": [
        {
          "custom_name": "saanseoi",
          "layout": {
            "Pane": 73
          },
          "panes": {
            "73": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 73,
          "root_pane": 73
        },
        {
          "custom_name": "山",
          "layout": {
            "Pane": 74
          },
          "panes": {
            "74": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 74,
          "root_pane": 74
        },
        {
          "custom_name": "水",
          "layout": {
            "Pane": 75
          },
          "panes": {
            "75": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 75,
          "root_pane": 75
        },
        {
          "custom_name": "dev",
          "layout": {
            "Pane": 76
          },
          "panes": {
            "76": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 76,
          "root_pane": 76
        },
        {
          "custom_name": "test",
          "layout": {
            "Pane": 77
          },
          "panes": {
            "77": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 77,
          "root_pane": 77
        },
        {
          "custom_name": "studio",
          "layout": {
            "Pane": 78
          },
          "panes": {
            "78": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 78,
          "root_pane": 78
        },
        {
          "custom_name": "db",
          "layout": {
            "Pane": 79
          },
          "panes": {
            "79": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 79,
          "root_pane": 79
        },
        {
          "custom_name": "docs",
          "layout": {
            "Pane": 80
          },
          "panes": {
            "80": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 80,
          "root_pane": 80
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 81
          },
          "panes": {
            "81": {
              "cwd": "{{ .chezmoi.homeDir }}/code/saanseoi"
            }
          },
          "zoomed": false,
          "focused": 81,
          "root_pane": 81
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wM",
      "custom_name": "overturist",
      "identity_cwd": "{{ .chezmoi.homeDir }}/code/overturist",
      "public_pane_numbers": {
        "82": 1,
        "83": 2
      },
      "next_public_pane_number": 3,
      "public_tab_numbers": [
        1,
        2
      ],
      "next_public_tab_number": 3,
      "tabs": [
        {
          "custom_name": "overturist",
          "layout": {
            "Pane": 82
          },
          "panes": {
            "82": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 82,
          "root_pane": 82
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 83
          },
          "panes": {
            "83": {
              "cwd": "{{ .chezmoi.homeDir }}/code/overturist"
            }
          },
          "zoomed": false,
          "focused": 83,
          "root_pane": 83
        }
      ],
      "active_tab": 0
    },
    {
      "id": "wN",
      "custom_name": "tjikup",
      "identity_cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi",
      "public_pane_numbers": {
        "84": 1,
        "86": 3,
        "87": 4,
        "85": 2
      },
      "next_public_pane_number": 5,
      "public_tab_numbers": [
        1,
        2,
        3,
        4
      ],
      "next_public_tab_number": 5,
      "tabs": [
        {
          "custom_name": "tjikup",
          "layout": {
            "Pane": 84
          },
          "panes": {
            "84": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 84,
          "root_pane": 84
        },
        {
          "custom_name": "Etc",
          "layout": {
            "Pane": 85
          },
          "panes": {
            "85": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezetc"
            }
          },
          "zoomed": false,
          "focused": 85,
          "root_pane": 85
        },
        {
          "custom_name": "CTRL",
          "layout": {
            "Pane": 86
          },
          "panes": {
            "86": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 86,
          "root_pane": 86
        },
        {
          "custom_name": "git",
          "layout": {
            "Pane": 87
          },
          "panes": {
            "87": {
              "cwd": "{{ .chezmoi.homeDir }}/.local/share/chezmoi"
            }
          },
          "zoomed": false,
          "focused": 87,
          "root_pane": 87
        }
      ],
      "active_tab": 0
    }
  ],
  "active": 6,
  "selected": 6,
  "sidebar_width": 22,
  "sidebar_section_split": 0.8974359,
  "collapsed_space_keys": []
}