{{ if .isClient -}}
<?xml version="1.0" encoding="UTF-8"?>
<xbel version="1.0"
      xmlns:bookmark="http://www.freedesktop.org/standards/desktop-bookmarks"
      xmlns:mime="http://www.freedesktop.org/standards/shared-mime-info"
>
  <bookmark href="sftp://m@ssh.type.hk/" added="2025-01-07T13:31:47.341839Z" modified="2025-01-07T13:31:47.341842Z" visited="2025-01-07T13:31:47.341840Z">
    <title>/ on ssh.type.hk</title>
    <info>
      <metadata owner="http://freedesktop.org">
        <bookmark:applications>
          <bookmark:application name="org.gnome.Nautilus" exec="&apos;org.gnome.Nautilus %u&apos;" modified="2025-01-07T13:31:47.341841Z" count="1"/>
        </bookmark:applications>
      </metadata>
    </info>
  </bookmark>
</xbel>
{{ end -}}
