// -*- mode: jsonc; tab-width: 2; indent-tabs-mode: nil; -*-
[
{{ if .isLaptop -}}
  {
    "output": "eDP-1",
    "name": "laptop",
    "ipc": true,
    "mode": "hide",
    "on-sigusr1": "hide",
    "on-sigusr2": "show",
    "layer": "top",
    "position": "bottom",
    "height": 36,
    "margin-left": 24,
    "margin-right": 24,
    "margin-bottom": 10,
    "spacing": 12,
    "modules-left": [
      "hyprland/workspaces",
      "custom/mediaplayer"
    ],
    "modules-right": [
      "tray",
      "temperature",
      "network",
      "custom/vpn",
      "pulseaudio",
      "clock",
      "custom/notifications",
      "custom/powerbutton"
    ],
    "hyprland/workspaces": {
      "format": "{icon} {name}",
      "on-click": "activate",
      "on-scroll-up": "hyprctl dispatch workspace e+1",
      "on-scroll-down": "hyprctl dispatch workspace e-1",
      "format-icons": {
        "default": "\uf10c",
        "active": "\uf111",
        "10": "\uf11b"
      },
      "sort-by": "number"
    },
    "custom/mediaplayer": {
      "format": "{0}",
      "escape": false,
      "return-type": "json",
      "max-length": 60,
      "on-click": "playerctl -p Feishin play-pause",
      "on-click-right": "killall Feishin",
      "smooth-scrolling-threshold": 2,
      "on-scroll-down": "playerctl -p Feishin next",
      "on-scroll-up": "playerctl -p Feishin previous",
      "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null",
      "exec-if": "pgrep Feishin"
    },
    "tray": {
      "icon-size": 21,
      "spacing": 10
    },
    "temperature": {
      "hwmon-path-abs": "/sys/devices/pci0000:00/0000:00:18.3/hwmon",
      "input-filename": "temp1_input",
      "warning-threshold": 60,
      "critical-threshold": 80,
      "format": "{icon} {temperatureC}°C",
      "format-critical": "󰸁 {temperatureC}°C",
      "format-icons": ["󱃃", "󰔏", "󱃂"]
    },
    "network": {
      "format": "{ifname}",
      "format-wifi": " {essid}",
      "format-ethernet": " {ifname}",
      "format-disconnected": "",
      "tooltip-format": "▲ {bandwidthDownBytes} ▼ {bandwidthUpBytes}",
      "tooltip-format-wifi": "▲ {bandwidthDownBytes} ▼ {bandwidthUpBytes} @ {signalStrength}%",
      "max-length": 32
    },
    "custom/vpn": {
      "format": "{}",
      "interval": 10,
      "on-click": "/opt/Mullvad\\ VPN/mullvad-gui",
      "on-click-right": "mullvad connect",
      "on-click-middle": "mullvad disconnect",
      "return-type": "json",
      "min-length": 3,
      "max-length": 3,
      "exec": "$HOME/.config/waybar/mullvad.py 2> /dev/null"
    },
    "clock": {
      "format": "{:%H:%M}",
      "format-alt": "{:%a %d %b}",
      "tooltip-format": "{:%A, %d %B %Y}\nWeek {:%V} · Day {:%j}"
    },
    "pulseaudio": {
      "format": "{icon} {volume}%",
      "format-bluetooth": "{icon} {volume}%",
      "format-muted": "<span size='17664'>󰖁</span>",
      "format-icons": {
        "headphone": "",
        "hands-free": "",
        "headset": "",
        "phone": "",
        "portable": "",
        "car": "",
        "default": ["", ""]
      },
      "scroll-step": 4,
      "on-click": "pavucontrol",
      "on-click-middle": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    },
    "custom/notifications": {
      "format": "{}",
      "interval": 1,
      "return-type": "json",
      "exec": "$HOME/.config/waybar/notifications.fish",
      "on-click": "$HOME/.config/waybar/notifications.fish toggle"
    },
    "custom/powerbutton": {
      "format": "{}",
      "interval": 1,
      "return-type": "json",
      "exec": "$HOME/.config/waybar/powerbutton.fish",
      "on-click": "$HOME/.config/waybar/powerbutton.fish toggle-idle",
      "on-click-middle": "$HOME/.config/waybar/powerbutton.fish shutdown",
      "on-click-right": "$HOME/.config/waybar/powerbutton.fish toggle-filter"
    }
  },
  {
    "output": "DP-4",
    "ipc": true,
    "mode": "hide",
    "layer": "top",
    "position": "bottom",
    "height": 40,
    "spacing": 12,
    "modules-center": [
      "hyprland/workspaces"
    ],
    "hyprland/workspaces": {
      "format": "{icon} {name}",
      "on-click": "activate",
      "on-scroll-up": "hyprctl dispatch workspace e+1",
      "on-scroll-down": "hyprctl dispatch workspace e-1",
      "format-icons": {
        "default": "\uf10c",
        "active": "\uf111",
        "10": "\uf11b"
      },
      "sort-by": "number"
    }
  }
{{- else if .isDesktop }}
  {
    "output": "DP-1",
    "id": "1",
    "ipc": true,
    "mode": "hide",
    "on-sigusr1": "hide",
    "on-sigusr2": "show",
    "layer": "top", // Waybar at top layer
    "position": "bottom", // Waybar position (top|bottom|left|right)
    "margin-right": 2604,
    "margin-bottom": 20,
    "passthrough": true,
    "spacing": 12, // Gaps between modules (4px)
    "fixed-center": false,
    "modifier-reset": "release",
    "modules-right": [
      // Choose the order of the modules
      "hyprland/workspaces",
      "custom/spotify"
    ],
    "hyprland/workspaces": {
      "format": "{icon} {name}",
      "on-click": "activate",
      "on-scroll-up": "hyprctl dispatch workspace e+1",
      "on-scroll-down": "hyprctl dispatch workspace e-1",
      "format-icons": {
        "default": "\uf10c",
        "active": "\uf111",
        "19": "\uf1ff",
        "20": "\uf144"
      },
      "sort-by": "number"
    },
    "custom/spotify": {
      "format": "{0}",
      "escape": false,
      "return-type": "json",
      "max-length": 60,
      "on-click": "playerctl -p spotify play-pause",
      "on-click-right": "killall spotify",
      "smooth-scrolling-threshold": 2,
      "on-scroll-down": "playerctl -p spotify next",
      "on-scroll-up": "playerctl -p spotify previous",
      "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null", // Script in resources/custom_modules folder
      "exec-if": "pgrep spotify"
    }
  },
  {
    "output": "DP-1",
    "id": "2",
    "name": "desktop-status",
    "ipc": true,
    "on-sigusr1": "hide",
    "on-sigusr2": "show",
    "mode": "hide",
    "layer": "top", // Waybar at top layer
    "position": "bottom", // Waybar position (top|bottom|left|right)
    "margin-left": 2304,
    "margin-bottom": 20,
    "passthrough": false,
    "spacing": 0, // Gaps between modules (4px)
    "fixed-center": true,
    "modifier-reset": "release",
    // Choose the order of the modules
    "modules-left": [
      "custom/crypto",
      "custom/codex",
      "tray",
      "network",
      "custom/vpn",
      "pulseaudio",
      "clock",
      "custom/notifications",
      "custom/powerbutton"
    ],
    "custom/crypto": {
      "format": "{}",
      "interval": 600,
      "return-type": "json",
      "exec": "$HOME/.config/waybar/crypto/waybar_crypto.py",
      "exec-if": "ping pro-api.coinmarketcap.com -c1"
    },
    "custom/codex": {
      "format": "{}",
      "interval": 30,
      "return-type": "json",
      "exec": "$HOME/.config/waybar/codex.py",
      "exec-if": "test -f $HOME/.codex-lb/store.db"
    },
    "tray": {
      "icon-size": 21,
      "spacing": 10
    },
    "network": {
      "format": "{ifname}",
      "format-wifi": " {essid}",
      "format-ethernet": " {ifname}",
      "format-disconnected": "",
      "tooltip-format": "▲ {bandwidthDownBytes} ▼ {bandwidthUpBytes}",
      "tooltip-format-wifi": "▲ {bandwidthDownBytes} ▼ {bandwidthUpBytes} @ {signalStrength}%"
    },
    "custom/vpn": {
      "format": "{}",
      "interval": 10,
      "on-click": "/opt/Mullvad\\ VPN/mullvad-gui",
      "on-click-right": "mullvad connect",
      "on-click-middle": "mullvad disconnect",
      "return-type": "json",
      "min-length": 3,
      "max-length": 3,
      "exec": "$HOME/.config/waybar/mullvad.py 2> /dev/null"
    },
    "pulseaudio": {
      "format": "{icon} {volume}%",
      "format-bluetooth": "{icon} {volume}%",
      "format-muted": "",
      "format-icons": {
        "headphone": "",
        "hands-free": "",
        "headset": "",
        "phone": "",
        "portable": "",
        "car": "",
        "default": ["", ""]
      },
      "scroll-step": 4,
      "on-click": "pavucontrol",
      "on-click-middle": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    },
    "clock": {
      "format": "{:%H:%M}",
      "format-alt": "{:%a %d %b}",
      "tooltip-format": "{:%A, %d %B %Y}\nWeek {:%V} · Day {:%j}"
    },
    "custom/notifications": {
      "format": "{}",
      "interval": 1,
      "return-type": "json",
      "exec": "$HOME/.config/waybar/notifications.fish",
      "on-click": "$HOME/.config/waybar/notifications.fish toggle"
    },
    "custom/powerbutton": {
      "format": "{}",
      "interval": 1,
      "return-type": "json",
      "exec": "$HOME/.config/waybar/powerbutton.fish",
      "on-click": "$HOME/.config/waybar/powerbutton.fish toggle-idle",
      "on-click-middle": "$HOME/.config/waybar/powerbutton.fish shutdown",
      "on-click-right": "$HOME/.config/waybar/powerbutton.fish toggle-filter"
    }
  },
  {
    "output": "DP-2",
    "id": "3",
    "ipc": true ,
    "on-sigusr1": "hide",
    "on-sigusr2": "show",
    "mode": "hide",
    "layer": "top", // Waybar at top layer
    "position": "bottom", // Waybar position (top|bottom|left|right)
    "margin-right": 1300,
    "margin-bottom": 20,
    "passthrough": true,
    "spacing": 12, // Gaps between modules (4px)
    "fixed-center": true,
    "modifier-reset": "release",
    "modules-right": [
      "hyprland/workspaces"
    ],
    "hyprland/workspaces": {
      "format": "{icon} {name}",
      "on-click": "activate",
      "on-scroll-up": "hyprctl dispatch workspace e+1",
      "on-scroll-down": "hyprctl dispatch workspace e-1",
      "format-icons": {
        "default": "\uf10c",
        "active": "\uf111",
        "19": "\uf1ff",
        "20": ""
      },
      "sort-by": "number"
    }
  }
{{ end -}}
]
