@import "colors.css";

* {
  font-size: 14px;
  /* Defined in /home/io/.config/fontconfig/fonts.conf */
  font-family: "tijpset";
  color: @base05;
  background: none;
}

window#waybar {
    color: @base05;
    opacity: 0.95;
    border-radius: 10px;
}

window#waybar > box > box > widget > * {
  background: @base01;
}

tooltip {
  background: @base02;
}

/* Modules */

.modules-left {
/*  margin : 24px 0 0 24px;*/
}

.modules-center {
}

.modules-right {
/*  margin : 24px 24px 0 0;*/
}

/* Widgets */

.modules-right > widget > *,
.modules-center > widget > *,
.modules-left > widget > * {
  padding: 6px 12px;
}

/* Workspaces */

#workspaces {
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
}

#workspaces button {
  padding: 0 5px;
}

#workspaces button.active * {
  color: @base0E;
}

#workspaces button,
#workspaces button:hover {
    -gtk-icon-effect:none;
    -gtk-icon-shadow:none;
    transition: none;
    text-shadow: none;
    box-shadow: none;
    border: none;
}

/* Custom : Spotify */

#custom-spotify {
  padding: 0 12px;
  border-radius: 10px;
}

/* Custom : Crypto */

#custom-crypto {
  margin-right: 12px;
  border-radius: 10px;
}


/* Tray */

#tray {
  color: @base05;
  margin-right: 12px;
  border-radius: 10px;

}

#tray > widget > image {
  color: @base05;
}

/* Pill Left  */
#temperature,
#network,
#clock {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* Pill Right  */
#custom-vpn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -12px;
  margin-right: 12px;
}

#temperature,
#pulseaudio {
  margin-right: 12px;
  border-radius: 10px;
}

#custom-quit {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Temperature */

#temperature.warning * {
    color: @base08;
}

#temperature.critical * {
    color: @base0F;
}
