# Sourced in ~/.config/hypr/hyprland.conf
# #######################
# HYPRLAND :: DEVICES
# #######################

# Author : Mart van de Ven
# Contact : https://type.hk

# #######################
# KEYBOARDS
# #######################

device {
    name = graystudio-space65
    numlock_by_default = true
    repeat_rate = 50
    repeat_delay = 320
}

device {
    name = xiudi-xd68
    numlock_by_default = true
    repeat_rate = 50
    repeat_delay = 320
}

# #######################
# MICE
# #######################

device {
    name = logitech-mx-vertical
    sensitivity = 0.3
    # accel_profile = adaptive
}

device {
    name = logitech-mx-vertical-1
    sensitivity = 0.3
    # accel_profile = adaptive
}
