{{ if .isDesktop -}}

preload = /home/io/.local/share/backgrounds/24:9/selection.jpg
wallpaper = DP-1,/home/io/.local/share/backgrounds/24:9/selection.jpg
wallpaper = HDMI-A-1,/home/io/.local/share/backgrounds/24:9/selection.jpg

{{ else if .isLaptop -}}

preload = /home/io/.local/share/backgrounds/16:10/1.jpg
wallpaper = eDP-1,/home/io/.local/share/backgrounds/16:10/1.jpg

{{ end -}}
