-- -*- mode: lua; -*-
-- ~/.config/hypr/hyprland.lua
-- #######################
-- HYPRLAND
-- #######################

-- Author : Mart van de Ven
-- Contact : https://type.hk

-- Refer to the wiki for more information.

-- #######################
-- THEME
-- #######################

-- Colorscheme
require("colors")

-- #######################
-- DEVICES
-- #######################

-- Monitors
require("monitors")

-- Keyboards & Mice
require("devices")

-- #######################
-- VARIABLES
-- #######################

-- General, Decoration, Animations, Input, Misc
require("variables")

-- #######################
-- LAYOUTS
-- #######################

-- Master
require("layouts")

-- #######################
-- ENVIRONMENT
-- #######################

-- Environment variables
require("env")

-- Run on Startup
require("execs")

-- #######################
-- BINDINGS
-- #######################

-- Keybindings
require("bindings")

-- #######################
-- WINDOW MANAGEMENT
-- #######################

-- Workspace Rules
require("workspaces")

-- Window Rules
require("windows")

-- Layer-surface Rules
require("layers")

-- #######################
-- PLUGINS
-- #######################

-- Plugins
require("plugins")
