# ~/.config/hypr/hyprland.conf
# #######################
# HYPRLAND
# #######################

# Author : Mart van de Ven
# Contact : https://type.hk

# Refer to the wiki for more information.

# #######################
# THEME
# #######################

# Colorscheme
source = ~/.config/hypr/colors.conf

# #######################
# DEVICES
# #######################

# Monitors
source = ~/.config/hypr/monitors.conf

# Keyboards & Mice
source = ~/.config/hypr/devices.conf

# #######################
# VARIABLES
# #######################

# General, Decoration, Animations, Input, Misc
source = ~/.config/hypr/variables.conf

# #######################
# LAYOUTS
# #######################

# Master
source = ~/.config/hypr/layouts.conf

# #######################
# ENVIRONMENT
# #######################

# Environment variables
source = ~/.config/hypr/env.conf

# Run on Startup
source = ~/.config/hypr/onstartup.conf

# #######################
# BINDINGS
# #######################

# Keybindings
source = ~/.config/hypr/bindings.conf

# #######################
# WINDOW MANAGEMENT
# #######################

# Workspace Rules
source = ~/.config/hypr/workspaces.conf

# Window Rules
source = ~/.config/hypr/windows.conf

# #######################
# PLUGINS
# #######################

# None
source = ~/.config/hypr/plugins.conf
