# ~/.config/hypr/hyprland.conf
# #######################
# HYPRLAND
# #######################

# Author : Mart van de Ven
# Contact : https://type.hk

# Refer to the wiki for more information.

# #######################
# THEME
# #######################

# Colorscheme
source = colors.conf

# #######################
# DEVICES
# #######################

# Monitors
source = monitors.conf

# Keyboards & Mice
source = devices.conf

# #######################
# VARIABLES
# #######################

# General, Decoration, Animations, Input, Misc
source = variables.conf

# #######################
# LAYOUTS
# #######################

# Master
source = layouts.conf

# #######################
# ENVIRONMENT
# #######################

# Environment variables
source = env.conf

# Run on Startup
source = onstartup.conf

# #######################
# BINDINGS
# #######################

# Keybindings
source = bindings.conf

# #######################
# WINDOW MANAGEMENT
# #######################

# Workspace Rules
source = workspaces.conf

# Window Rules
source = windows.conf

# #######################
# PLUGINS
# #######################

# None
source = plugins.conf
