{{ if .isDesktop -}}

wallpaper {
    monitor = DP-1
    path = /home/io/.local/share/backgrounds/21:9/selection.jpg
    splash = false
}

wallpaper {
    monitor = DP-2
    path = /home/io/.local/share/backgrounds/21:9/selection.jpg
    splash = false
}

wallpaper {
    monitor = HDMI-A-1
    path = /home/io/.local/share/backgrounds/21:9/selection.jpg
    splash = false
}

{{ else if .isLaptop -}}

wallpaper {
    monitor = eDP-1
    path = /home/io/.local/share/backgrounds/16:10/1.jpg
    splash = false
}

{{ end -}}
