splash = false

{{ if .isDesktop -}}

wallpaper {
    monitor = DP-1
    path = {{ .chezmoi.homeDir }}/.local/share/backgrounds/21:9/selection.jpg
}

wallpaper {
    monitor = DP-2
    path = {{ .chezmoi.homeDir }}/.local/share/backgrounds/21:9/selection.jpg
}

wallpaper {
    monitor = HDMI-A-1
    path = {{ .chezmoi.homeDir }}/.local/share/backgrounds/21:9/selection.jpg
}

{{ else if .isLaptop -}}

wallpaper {
    monitor = eDP-1
    path = {{ .chezmoi.homeDir }}/.local/share/backgrounds/21:9/selection.jpg
}

{{ end -}}
