# #######################
# MONITORS
# #######################

# See https://wiki.hyprland.org/Configuring/Monitors/
{{ if .isDesktop -}}

# Primary
monitorv2 {
    output = DP-1
    mode = 3440x1440@119.960999
    position = 0x0
    scale = 1
    bitdepth = 8
    cm = srgb
}

# Secondary
### HP23
monitor = DP-2,1920x1080@74.97,3440x720,auto,vrr,1
### HP23 - Disabled
# monitor = DP-2,disable

# Tertiary
### LG TV - 4K
# monitor = HDMI-A-1,3840x2160@60.00,auto-center-left,1
### LG TV - 1080p
# monitor = HDMI-A-1,1920x1080@120.00,auto-center-left,1
# monitor = HDMI-A-1,1920x1080@60,3440x720,auto
### LG TV - disabled
monitor = HDMI-A-1,disable

{{ else if .isLaptop -}}

# Primary
monitor = eDP-1,3840x2400@60,auto,2
### Disabled
# monitor = eDP-1,disable

# Secondary
monitor = DP-2,1920x1080@60,auto,1

{{- end }}
