# Sourced in ~/.config/hypr/hyprland.conf
# #######################
# HYPRLAND :: PLUGINS
# #######################

# Author : Mart van de Ven
# Contact : https://type.hk

# See https://hypr.land/plugins/
