# Sourced in ~/.config/hypr/hyprland.conf
# #######################
# HYPRLAND :: VARIABLES
# #######################

# Author : Mart van de Ven
# Contact : https://type.hk

# See https://wiki.hypr.land/Configuring/Variables/

# #######################
# GENERAL
# #######################

# See https://wiki.hyprland.org/Configuring/Variables/#general

{{- if .isDesktop }}

general {
    border_size = 4
    gaps_in = 6
    gaps_out = 12,12,8
    col.active_border = $fx-rose-semi
    col.inactive_border =  $fx-grey-l-semi
    layout = master
    resize_on_border = true
    hover_icon_on_border = false
}

{{- else if .isLaptop }}

general {
    border_size = 2
    gaps_in = 6
    gaps_out = 0
    col.active_border = $fx-rose-semi
    col.inactive_border =  $fx-grey-l-semi
    layout = master
    hover_icon_on_border = false
    no_border_on_floating = true # deprecated?
    snap {
        enabled = true
    }
}

{{ end }}

# #######################
# DECORATION
# #######################

# See https://wiki.hyprland.org/Configuring/Variables/#decoration

decoration {
    rounding = 12
    active_opacity = 1
    inactive_opacity = 0.9
    fullscreen_opacity = 1
}

# #######################
# ANIMATIONS
# #######################

# See https://wiki.hyprland.org/Configuring/Animations/

animations {
    enabled = true

    bezier = myBezier, 0.05, 0.9, 0.1, 1.05
    bezier = cubicBezier, 0.22, 1, 0.36, 1

    animation = windows, 1, 7, myBezier
    animation = windowsMove, 1, 3, cubicBezier
    animation = windowsOut, 1, 7, default, popin 90%
    animation = border, 1, 10, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 4, cubicBezier
}


# #######################
# INPUT
# #######################

# See https://wiki.hyprland.org/Configuring/Variables/#input

{{ if .isDesktop -}}

input {
    follow_mouse = 2
    float_switch_override_focus = 2
    special_fallthrough = true
    off_window_axis_events = 3
}

{{- else if .isLaptop }}

input {
    follow_mouse = 2
    float_switch_override_focus = 2
    special_fallthrough = true
    off_window_axis_events = 3
    sensitivity = 0
    kb_options = fkeys:basic_13-24
    kb_options = caps:swapescape
}

{{- end }}


# #######################
# MISC
# #######################

# See https://wiki.hypr.land/Configuring/Variables/#misc

misc {
    # Logos
    disable_hyprland_logo = true
    disable_splash_rendering = true
    # Wake up
    mouse_move_enables_dpms = false
    key_press_enables_dpms = true
    # Launchers
    enable_swallow = true
    swallow_regex = kitty
    # Resize
    animate_manual_resizes = true
    animate_mouse_windowdragging = true
    # Full Screen
    vrr = 2
    # Lock Screen
    allow_session_lock_restore = true
}

# #######################
# BINDS
# #######################

# See https://wiki.hyprland.org/Configuring/Variables/#binds

binds {
    scroll_event_delay = 0
    workspace_back_and_forth = true
    hide_special_on_workspace_change = true
    allow_workspace_cycles = true
    workspace_center_on = 1
    focus_preferred_method = 1
}

# #######################
# RENDER
# #######################

# See https://wiki.hypr.land/Configuring/Variables/#render

render {
    direct_scanout = 1
    cm_fs_passthrough = 2
}

# #######################
# CURSOR
# #######################

# See https://wiki.hypr.land/Configuring/Variables/#cursor

cursor {
    hide_on_key_press = true
    # in seconds, after how many seconds of cursor’s inactivity to hide it. Set to 0 for never.in
    inactive_timeout = 10
    persistent_warps = true
    warp_on_change_workspace = 1
    warp_on_toggle_special = 1
}

# #######################
# ECOSYSTEM
# #######################

# See https://wiki.hypr.land/Configuring/Variables/#ecosystem

ecosystem {
    no_donation_nag = true
}

# #######################
# QUIRKS
# #######################

quirks {
    prefer_hdr = 1
}
