# Sourced in ~/.config/hypr/hyprland.conf
# #######################
# HYPRLAND :: WINDOWS
# #######################

# Author : Mart van de Ven
# Contact : https://type.hk

# See https://wiki.hypr.land/Configuring/Window-Rules/

# #######################
# GENERAL
# #######################

# SMART GAPS

windowrule {
  name = smart-gaps
  border_size = 0
  rounding = 0
  match:float = 0
  match:workspace = w[tv1]
}

windowrule {
  name = smart-gaps-fs
  border_size = 0
  rounding = 0
  match:float = 0
  match:workspace = f[1]
}

# FULL SCREEN

windowrule {
  name = fullscreen
  fullscreen = on
  idle_inhibit = focus
  match:fullscreen = true
}

# #######################
# APPS
# #######################

windowrule {
  name = kitty
  no_anim = on
  match:class = kitty
}

windowrule {
  name = zen
  border_size = 0
  match:class = zen
}

windowrule {
  name = telegram
  workspace = special:chat silent
  no_initial_focus = on
  float = on
  {{ if .isDesktop -}}
  size = 944 1338
  move = (1248) (24)
  {{ else if .isLaptop -}}
  size = 944 1338
  move = (1248) (24)
  {{ end -}}
  match:class = ^(org.telegram.desktop.*)
}

windowrule {
  name = telegram-media-viewer
  workspace = special:chat silent
  float = on
  {{ if .isDesktop -}}
  size = 3228 1338
  move = (112) (24)
  {{ else if .isLaptop -}}
  size = 3228 1338
  move = (112) (24)
  {{ end -}}
  match:title = ^(Media viewer)$
}

windowrule {
  name = whatsapp
  workspace = special:chat silent
  no_initial_focus = on
  float = on
  {{ if .isDesktop -}}
  size = 1112 1338
  move = (112) (24)
  {{ else if .isLaptop -}}
  size = 1112 1338
  move = (112) (24)
  {{ end -}}
  match:class = com.rtosta.zapzap
}

windowrule {
  name = signal
  workspace = special:chat silent
  no_initial_focus = on
  float = on
  {{ if .isDesktop -}}
  size = 1112 1338
  move = (2218) (24)
  {{ else if .isLaptop -}}
  size = 1112 1338
  move = (2218) (24)
  {{ end -}}
  match:class = org.signal.Signal
}

windowrule {
  name = discord
  workspace = 19 silent
  no_initial_focus = on
  match:class = discord
}

windowrule {
  name = steam
  workspace = 9
  match:class = steam
}

windowrule {
  name = spotify
  workspace = 20 silent
  no_initial_focus = on
  fullscreen = on
  match:class = ^(Spotify)$
}

windowrule {
  name = plex
  fullscreen = on
  monitor = 0
  workspace = 9
  match:title = ^(Plex*)
}

# #######################
# CONTROL PANELS
# #######################

windowrule {
  name = pavucontrol
  float = on
  size = 720 800
  {{ if .isDesktop -}}
  move = (2682) (574)
  {{ else if .isLaptop -}}
  move = (1196) (982)
  {{ end -}}
  match:class = org.pulseaudio.pavucontrol
}

windowrule {
  name = mullvad
  animation = fade
  {{ if .isDesktop -}}
  move = (2846) (803)
  {{ else if .isLaptop -}}
  move = (4390) (816)
  {{ end -}}
  match:title = ^(Mullvad VPN)$
}

# #######################
# GAMES
# #######################

# Steam Games / Gamescope
windowrule {
  name = steam-games
  fullscreen = on
  monitor = 0
  workspace = 10
  border_size = 0
  animation = 0
  match:class = ^steam_app\d+|gamescope$
}

# Nintendo Switch / Yuzu / Yakuza0
windowrule {
  name = console-games
  monitor = HDMI-A-1
  workspace = 21
  tag = +game
  match:class = yakuza0.exe|org.yuzu_emu.yuzu
}

# #######################
# GENERIC MODALS
# #######################

# Float as many modals as possible :)

windowrule {
  name = float-generic-class
  float = on
  border_size = 0
  match:class = file_progress|confirm|dialog|download|notification|error|splash|confirmreset
}

windowrule {
  name = float-title
  float = on
  border_size = 0
  match:title = Open File|Open Folder|branchdialog|file-roller|DevTools|^(Media viewer)$|^(Picture-in-Picture)$|^(File Operation Progress)$|^(Confirm to replace files)$|^(Sign in to Steam)$
}
