[Desktop Entry]
Name=Game 460807638964371468
Exec=/home/io/.var/app/net.lutris.Lutris/data/lutris/runners/cemu/Cemu %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-460807638964371468;
