[Desktop Entry]
Type=Application
Version=1.4
Name=Google Calendar
Comment=
Keywords=;
Categories=GTK;;
Icon=FFPWA-01KCGZY23320CJPTJNB8ZVMVPH
Exec=/usr/bin/firefoxpwa site launch 01KCGZY23320CJPTJNB8ZVMVPH --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01KCGZY23320CJPTJNB8ZVMVPH
