{{ if .isClient -}}
file:///home/io/downloads Downloads
file:///home/io/code/hype HYPE
file:///home/io/.obsidian/core Obsidian
{{ end -}}
{{ if .isDesktop -}}
file:///home/io/.config/Steam/userdata/109933432/760/remote/1086940/screenshots BG3
{{ end -}}
