{{ if .isClient -}}
file://{{ .chezmoi.homeDir }}/downloads Downloads
file://{{ .chezmoi.homeDir }}/code/hype HYPE
file://{{ .chezmoi.homeDir }}/.obsidian/core Obsidian
{{ end -}}
{{ if .isDesktop -}}
file://{{ .chezmoi.homeDir }}/.config/Steam/userdata/109933432/760/remote/1086940/screenshots BG3
{{ end -}}
{{ if .isServer -}}
file://{{ .chezmoi.homeDir }}/downloads Downloads
{{ end -}}
