{{ if .isServer -}}

x-common-env: &common-env
  PUID=1000
  PGID=950
  TZ=Asia/Hong_Kong

services:
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - {{ .chezmoi.ports.radarr }}:{{ .chezmoi.ports.radarr }}
    environment:
      <<: *common-env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/storage/meta/appData/radarr:/config
      - /mnt/storage:/data

  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    logging:
      driver: json-file
    ports:
      - {{ .chezmoi.ports.sonarr }}:{{ .chezmoi.ports.sonarr }}
    environment:
      <<: *common-env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ .chezmoi.paths.appData }}/sonarr:/config
      - /mnt/storage:/data

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission:latest
    restart: unless-stopped
    environment:
      <<: [*common-env, USER=media, PASS={{ (bitwardenSecrets "d0001509-175f-4cef-9ca6-b3cb00abff89").value | quote }}]
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ .chezmoi.paths.appData }}/transmission:/config
      - {{ .chezmoi.paths.downloads }}:/downloads
      - {{ .chezmoi.paths.downloads }}/.torrents:/watch
      - /mnt/storage:/data
    ports:
      - {{ .chezmoi.ports.transmissionWeb }}:{{ .chezmoi.ports.transmissionWeb }}
      - {{ .chezmoi.ports.transmissionP2P }}:{{ .chezmoi.ports.transmissionP2P }}
      - {{ .chezmoi.ports.transmissionP2P }}:{{ .chezmoi.ports.transmissionP2P }}/udp

  jackett:
    container_name: jackett
    image: lscr.io/linuxserver/jackett:latest
    restart: unless-stopped
    environment:
      <<: [*common-env, AUTO_UPDATE=true]
    volumes:
      - {{ .chezmoi.paths.appData }}/jackett:/config
      - {{ .chezmoi.paths.downloads }}:/downloads
    ports:
      - {{ .chezmoi.ports.jackett }}:{{ .chezmoi.ports.jackett }}

  calibre-web:
    container_name: calibre-web
    image: lscr.io/linuxserver/calibre-web:latest
    restart: unless-stopped
    environment:
      <<: [*common-env, DOCKER_MODS=linuxserver/mods:universal-calibre, OAUTHLIB_RELAX_TOKEN_SCOPE=1]
    volumes:
      - /home/m/.config/calibre-web:/config
      - {{ .chezmoi.paths.publicRoot }}/books/EN:/books
    ports:
      - {{ .chezmoi.ports.calibre }}:{{ .chezmoi.ports.calibre }}

  tautulli:
    container_name: tautulli
    image: lscr.io/linuxserver/tautulli:latest
    restart: unless-stopped
    environment:
      <<: *common-env
    volumes:
      - /mnt/storage/meta/appData/tautulli:/config
    ports:
      - {{ .chezmoi.ports.tautulli }}:{{ .chezmoi.ports.tautulli }}

  auto-m4b:
    container_name: auto-m4b
    image: seanap/auto-m4b
    volumes:
      - /home/m/.tools/auto-m4b:/config
      - {{ .chezmoi.paths.downloads }}/audiobooks:/temp
    environment:
      <<: [*common-env, CPU_CORES=4, SLEEPTIME=1m, MAKE_BACKUP=N]

  beets-audible:
    container_name: beets-audible
    image: lscr.io/linuxserver/beets:latest
    restart: unless-stopped
    environment:
      <<: *common-env
    volumes:
      - /home/m/.tools/beets-audible/beets/config:/config
      - /home/m/.tools/beets-audible/beets/scripts:/config/custom-cont-init.d
      - {{ .chezmoi.paths.publicRoot }}/audiobooks:/audiobooks
      - {{ .chezmoi.paths.downloads }}/audiobooks/untagged:/untagged

  booklore:
    container_name: booklore
    image: booklore/booklore:latest
    restart: unless-stopped
    depends_on:
      mariadb:
      condition: service_healthy
    healthcheck:
      test: wget -q -O - http://localhost:{{ .chezmoi.ports.booklore }}/api/v1/healthcheck
      interval: 60s
      retries: 5
      start_period: 60s
      timeout: 10s
    environment:
      - USER_ID=1000
      - GROUP_ID=950
      - TZ=Asia/Hong_Kong
      - DATABASE_URL=jdbc:mariadb://mariadb:{{ .chezmoi.ports.mariadb }}/booklore
      - DATABASE_USERNAME=booklore
      - DATABASE_PASSWORD={{ (bitwardenSecrets "3346efb5-9036-417a-a4ae-b3cb00a7011c").value | quote }}
      - PORT_BOOKLORE={{ .chezmoi.ports.booklore }}
    volumes:
      - {{ .chezmoi.paths.appData }}/booklore:/app/data
      - {{ .chezmoi.paths.downloads }}/bookdrop:/bookdrop
      - {{ .chezmoi.paths.publicRoot }}/library:/books
    ports:
      - {{ .chezmoi.ports.booklore }}:{{ .chezmoi.ports.booklore }}

  mariadb:
    container_name: mariadb
    image: lscr.io/linuxserver/mariadb:11.4.5
    restart: unless-stopped
    environment:
      <<: [*common-env, MYSQL_ROOT_PASSWORD={{ (bitwardenSecrets "3b590574-69c0-44aa-a260-b3cb00bc810d").value | quote }}, MYSQL_DATABASE=booklore, MYSQL_USER=booklore, MYSQL_PASSWORD={{ (bitwardenSecrets "3346efb5-9036-417a-a4ae-b3cb00a7011c").value | quote }}
    volumes:
      - {{ .chezmoi.paths.appData }}/mariadb/config:/config
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - {{ .chezmoi.ports.mariadb }}:{{ .chezmoi.ports.mariadb }}
{{ end -}}
