# ~/.config/fish/conf.d/secrets.fish
# #######################
# FISH : SECRETS
# #######################

# Author : Mart van de Ven
# Contact : https://type.hk

# This file is managed by chezmoi and is populated with secrets from Bitwarden Secrets Manager
# during 'chezmoi apply'.

{{ if .isClient -}}

#################################
### AI
#################################

# OpenAI
set -x OPENAI_API_KEY {{ (bitwardenSecrets "28591652-db58-45f2-ac32-b3b00075a4fc").value | quote }}

# Moonshot
set -x MOONSHOT_API_KEY  {{ (bitwardenSecrets "4e5543dd-6fd7-4064-b22d-b3b0008eddc0").value | quote }}

# Z.ai
set -x ZAI_API_KEY  {{ (bitwardenSecrets "eb869167-2cd3-4d14-aa8b-b3b0008ce9e3").value | quote }}

# Claude
set -x CLAUDE_API_KEY {{ (bitwardenSecrets "2d96c163-349f-4e63-8b51-b3b0008fdde0").value | quote }}

# Anthropic (Claude Code)
{{ if eq .anthropicModelProvider "zai" -}}
set -x ANTHROPIC_API_KEY $ZAI_API_KEY
{{ else if eq .anthropicModelProvider "claude" -}}
set -x ANTHROPIC_API_KEY $CLAUDE_API_KEY
{{ else if eq .anthropicModelProvider "moonshot" -}}
set -x ANTHROPIC_API_KEY $MOONSHOT_API_KEY
{{ end -}}

#################################
### GIT
#################################

set -x GHI_TOKEN {{ (bitwardenSecrets "62946f86-1fef-4535-9b9d-b3b000754acd").value | quote }}

#################################
### NETWORKING
#################################

# Ngrok
set -x NGROK_AUTHTOKEN {{ (bitwardenSecrets "71dfed52-a0b5-47cb-a8b5-b3b0007565f1").value | quote }}

#################################
### APPS
#################################

# Obsidian
set -x OBSIDIAN_API_KEY {{ (bitwardenSecrets "e435ab25-08f7-483c-81c4-b3b0006b2a13").value | quote }}

#################################
### CLOUD INFRASTRUCTURE SERVICES
#################################

# REPALCE-ME set -x AWS_ACCESS_KEY_ID {{ (bitwardenSecrets "e435ab25-08f7-483c-81c4-b3b0006b2a13").value | quote }}
# REPALCE-ME set -x AWS_SECRET_ACCESS_KEY {{ (bitwardenSecrets "e435ab25-08f7-483c-81c4-b3b0006b2a13").value | quote }}

#################################
### DATA SERVICES
#################################

# CoinMarketCap
set -x COINMARKETCAP_API_KEY {{ (bitwardenSecrets "ec49f0ff-af2f-48c4-8694-b3b0007605cf").value | quote }}

{{ end -}}
