{{ if .isClient -}}
# ~/.config/dunst/dunstrc
[global]
    # Display
    monitor = "DP-1"       # Which monitor to use
    follow = none          # Don’t follow keyboard, just stay on primary

    # Geometry
    width = (0, 520)
    height = (0,192)
    origin = bottom-center
    offset = (0,24)
    scale = 0
    notification_limit = 5

    # Timing
    timeout = 8
    idle_threshold = 0

    # Styling
    frame_width = 2
    corner_radius = 8
    separator_height = 2
    ignore_newline = false
    # gap_size = 8

    padding = 10
    horizontal_padding = 24
    text_icon_padding = 8
    transparency = 15
    line_height = 8

    # Alignment
    alignment = center
    vertical_alignment = center

    # Font
    font = tijpset 11

    # Theme – Managed by base24

    # Icons
    icon_position = left
    enable_recursive_icon_lookup = true

    # Misc
    indicate_hidden = false
    hide_duplicate_count = true
    show_indicators = yes
    sticky_history = no
    history_length = 20
    dmenu = /bin/fzf -p dunst:
    browser = /bin/zen-browser -new-tab
    always_run_script = true
    title = Dunst
    class = Dunst

    [urgency_critical]
    timeout = 0                      # stays on screen until dismissed

    [feishin-updates]
    appname = "feishin"
    desktop_entry = "feishin"
    timeout = 3
    ellipsize = start
{{ end -}}
