[Unit]
Description=Hyprfloat daemon
Documentation=https://github.com/nevimmu/hyprfloat
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/home/io/.local/bin/hyprfloat
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
